# Dictionary Test

key와 value로 데이터를 저장 관리
key값은 중복되지 않음

In [2]:
#dict 생성과 추가
mydict={"name":"홍길동", "age":25, "city":"seoul"}
print(mydict)

{'name': '홍길동', 'age': 25, 'city': 'seoul'}

In [5]:
# 추가
print(mydict["age"])
mydict["birth"]="12월3일"
print(mydict)
a={"part":"IT","type":"R"}
mydict.update(a)
print(mydict)

25
{'name': '홍길동', 'age': 25, 'city': 'seoul', 'birth': '12월3일'}
{'name': '홍길동', 'age': 25, 'city': 'seoul', 'birth': '12월3일', 'part': 'IT', 'type': 'R'}

In [7]:
# 수정
mydict["birth"]="1월3일"
print(mydict)

{'name': '홍길동', 'age': 25, 'city': 'seoul', 'birth': '1월3일', 'part': 'IT', 'type': 'R'}

In [10]:
# 삭제
del mydict["type"]
print(mydict)

KeyError: 'type'

In [12]:
list(mydict) #key만 list로 변환

['name', 'age', 'city', 'birth', 'part']

In [19]:
mydict.values()

dict_values(['홍길동', 25, 'seoul', '1월3일', 'IT'])

In [29]:
mydict.items()

dict_items([('name', '홍길동'), ('age', 25), ('city', 'seoul'), ('birth', '1월3일'), ('part', 'IT'), ('aa', 100)])

In [30]:
mydict.keys()

dict_keys(['name', 'age', 'city', 'birth', 'part', 'aa'])

In [27]:
# "aa"가 있으면, 원래값 반환, 없으면 추가 후 기본값 반환
mydict.setdefault("city", "jeju")
mydict.setdefault("aa", 100)
print(mydict)

{'name': '홍길동', 'age': 25, 'city': 'seoul', 'birth': '1월3일', 'part': 'IT', 'aa': 100}

In [28]:
for key in mydict:
    print(key,":",mydict[key])

name : 홍길동
age : 25
city : seoul
birth : 1월3일
part : IT
aa : 100