In [19]:
class Car():
    def __init__(self, num, price, model): #변수의 값 설정
        self.num = num
        self.price = price
        self.model = model
        
    def drive(self, speed):
        print(speed, " 속도로 달립니다")
        
    def getPrice(self):
        return self.price
    
    def __str__(self): # 이 클래스의 정보 문자열을 리턴
        return "Car: 차량변호"+self.num+" 가격:"+str(self.price)+" 모델:"+self.model
        #print("Car: 차량번호{}, 가격:{}, 모델:{}".format(self.num, self.price, self.model))

In [22]:
car_a=Car("12가1234", 500, "아반테") # __init__()
print(car_a.__str__()) # __str__()
print(car_a)
car_b=Car("23나2345",1000,"솜사탕")
print(car_b)

Car: 차량변호12가1234 가격:500 모델:아반테
Car: 차량변호12가1234 가격:500 모델:아반테
Car: 차량변호23나2345 가격:1000 모델:솜사탕

In [45]:
class student():
    def __init__(self, num, name, kor, eng, mat):
        self.num=num
        self.name=name
        self.kor=kor
        self.eng=eng
        self.mat=mat
        
    def sum(self):
        return self.kor+self.eng+self.mat
        
    def avg(self):
        return self.sum()/3
    
    def __str__(self):
        #return "번호: "+str(self.num)+" 이름: "+self.name+" 국어: "+str(self.kor)+" 영어: "+str(self.eng)+" 수학: "+str(self.mat)\
        return "학번:%d \t이름:%s \t총점:%4d \t평균:%.2f"%(self.num, self.name, self.sum(), self.avg())

In [53]:
s1=student(1,"홍길동",10,10,10)
s2=student(2,"김철수",40,50,60)
print(s1)
print(s1.sum())
print(s1.avg())
print(s2)
print(s2.sum())
print(s2.avg())

학번:1 	이름:홍길동 	총점:  30 	평균:10.00
30
10.0
학번:2 	이름:김철수 	총점: 150 	평균:50.00
150
50.0

In [55]:
slist=[]
slist.append(s1)
slist.append(s2)

slist.sort(key=lambda student : student.sum(), reverse=True)
for x in slist:
    print(x)

학번:2 	이름:김철수 	총점: 150 	평균:50.00
학번:1 	이름:홍길동 	총점:  30 	평균:10.00